html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  background: url(../images/bg3.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  font-size: 16px;
}

::selection {
  color:rgba(255,255,255,1);
  background-color:hsl(250, 35%, 35%);
}

::-moz-selection {
  color:rgba(255,255,255,1);
  background-color:hsl(250, 35%, 35%);
}

.bg-scroll {
  content:'';
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image:linear-gradient(130deg, hsla(55, 40%, 25%, 0.90), hsla(239, 38%, 53%, 0.90));
  opacity: .8;
}

section {
  position: relative;
  height: 100%;
  padding: 80px 0;
}


section.content {
  height: 100%;
}


/* Acceuil section */

section#acceuil{
  padding: 0;
  min-height: 100vh;
}

section#acceuil .ui.page.grid {
  position:absolute;
  width:100%;
  height:50%;
  top:20%;
}

.logo {
  width: 12em;
  height: 10em;
  outline: solid white 3px;
  outline-offset: 3px;

}

.title {
  margin-bottom: 15px;
  margin-top: 15px;
  font-family: 'PT Sans', 'Helvetica Neue','Helvetica', 'Arial', sans-serif;
  font-weight: 700;
  font-size: 4.2em;
  letter-spacing: 9px;
}

.tagline {
  margin-top: 20px;
  text-transform: uppercase;
  font-size: 1.05em;
  padding: 5px;
  letter-spacing: 1.7px;
}

.date,
.location {
  font-size: 1.05em;
  letter-spacing: 1.7px;
  padding: 4px;
  margin-top:2px;
  text-transform: uppercase;
  display: inline-block;
}

.location a{
  color: #DBCE58;
}

.description {
  margin-top: 35px;
  font-size: 1.05em;
  letter-spacing: 1.7px;
  text-transform: uppercase;
}

#info-section:hover {
  cursor: pointer;
}


/* about section */

section#info {
  background: rgba(255,255,255,.85);
  min-height: 240px;
  text-align: center;
  color: black;
  padding: 100px 16px;
}

  #info .info-title{
    font-family: 'Arvo', 'Helvetica Neue','Helvetica', 'Arial', sans-serif;
    font-weight: 700;
    letter-spacing: 1.7px;
    font-size: 3.5em;
    color: rgb(39, 90, 114);
  }

  #info .info-description{
    width: 80%;
    margin: 30px auto;
    font-size: 1.3em;
    line-height: 1.5em;
  }

/* faq section */
section#faq {
  padding: 80px 0;
}

  #faq .faq-title {
    text-align: center;
    font-family: 'Arvo', 'Helvetica Neue','Helvetica', 'Arial', sans-serif;
    font-weight: 700;
    font-size: 3.5em;
    margin-bottom: 80px;
  }

  #faq .question {
    font-family: 'Arvo', 'Helvetica Neue','Helvetica', 'Arial', sans-serif;
    font-size: 1.4em;
  }

  #faq .answer {
    line-height:1.4em;
  }

  #faq a,
  #faq a:visited {
    color: white !important;
  }


#social a {
  font-weight: 700;
  margin: 5px;
  padding: 10px;
}


/* Horaire section */
section#horaire {
  background: rgba(255, 255, 255, .85);
  text-align: center;
  color: black;
  min-height: 60vh;

}

section#horaire .header {
  font-family: 'Arvo', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: 1.3em;
  color: rgb(39, 90, 114);
  margin-bottom: 10px;
  padding: 5px;
}
section#horaire .horaire-content {
  margin-top: 60px;
  margin-bottom: 40px;
  padding: 10px;
}

section#horaire .day-header{
  font-family: 'Arvo', 'Helvetica Neue','Helvetica', 'Arial', sans-serif;
    font-size: 2.5em;
    font-weight: 700;
  color: rgb(39, 90, 114);
    text-align: center;
  margin-top: 15px;
}

section#horaire .horaire-title {
    font-family: 'Arvo', 'Helvetica Neue','Helvetica', 'Arial', sans-serif;
    font-size: 3.5em;
    font-weight: 700;
    color: rgb(39, 90, 114);
    text-align: center;
    margin-bottom: 30px;
}

@media only screen and (max-width: 320px) {
  section#horaire .horaire-title{
    font-family: 'Arvo', 'Helvetica Neue','Helvetica', 'Arial', sans-serif;
      font-size: 3.5em;
      font-weight: 700;
      color: rgb(39, 90, 114);
      text-align: center;
    margin-bottom: 12px;
  }
}

section#horaire .event{
    margin-bottom: 24px;
}

/* lab section */

section#labs .labs-title {
  font-family: 'Arvo', 'Helvetica Neue','Helvetica', 'Arial', sans-serif;
    font-size: 3.5em;
    font-weight: 700;
  text-align: center;
  margin-bottom: 80px;
}

section#labs img {
  margin: 0 auto;
  border: 3px solid white;
  /*height: 200px;
  width: 200px;*/
}

section#labs .name {
  font-size: 1.7em;
  margin-top: 24px;
}

section#labs .lab-description {
  margin-top: 5px;
  padding : 10px;
  font-size: 1.05em;
  letter-spacing: 1.7px;
  text-transform: uppercase;
}

section#labs .column {
  margin-bottom: 20px;

}


/* sponsor section */
section#sponsor {
  background: rgba(255, 255, 255, 1);
  min-height: 120px;
  height: 20%;
  text-align: center;
  color: rgb(39, 90, 114);
  padding-left:12%;
  padding-right:12%;
}

  #sponsor .sponsor-title {
    font-family: 'Arvo', 'Helvetica Neue','Helvetica', 'Arial', sans-serif;
    font-weight: 700;
    font-size: 3.5em;
    margin-bottom: 40px;
  }

  #sponsor .sponsor-message {
    font-size: 1.2em;
    color: black;
    margin-top: 1.5em;
  }

  #sponsor .sponsor-message a{
    text-decoration: none;
    color: rgb(56,153,179);
  }


  #sponsor a{
    text-decoration: none;
  }


  #sponsor .tier {
    padding: 0 5%;
  }

  #sponsor .tier img {
    display: inline-block;
    vertical-align: middle;
    margin: 16px;
    width: 25%;
  }

  #sponsor .ui.grid {
    margin-bottom: 2em;
  }

/* INSCRIPTION PANEL */


section#register {
  min-height: 160px;
  height: 30%;
  text-align: center;
  padding-left:12%;
  padding-right:12%;
  margin-bottom: 80px;

}

#register .register-title {
   font-family: 'Arvo', 'Helvetica Neue','Helvetica', 'Arial', sans-serif;
   font-weight: 700;
   font-size: 3.5em;
   margin-bottom: 40px;
}

section#register .tagline {
  margin-bottom: 30px;
  padding: 15px;
}

#regisresponse{
  display: none;
  margin-top: 20px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 1.05em;
  letter-spacing: 1.6px;
  padding: 20px;
}

#regisresponse p{
   padding: 8px;
 
}

#userid{
  font-family: 'Arvo', 'Helvetica Neue','Helvetica', 'Arial', sans-serif;
    font-size: 2em;
    font-weight: 700;
    text-align: center;
}



/* MAP PANEL */

section#map {
  min-height: 120px;
  height: 20%;
  text-align: center;
  padding-left:12%;
  padding-right:12%;
    color: black;

  background: rgba(255, 255, 255, 1);

}

#map .map-title {
   font-family: 'Arvo', 'Helvetica Neue','Helvetica', 'Arial', sans-serif;
   font-weight: 700;
   font-size: 3.5em;
   margin-bottom: 40px;
   color: rgb(39, 90, 114);

}

section#map .mapembed iframe{
  pointer-events: none;
}



section#map .tagline {
  margin-bottom: 30px;
  padding: 15px;
}

/* FOOTER */


section#footer a.social {
  text-decoration: none;
  color: white;
  margin: 0 8px;
}

section#footer .icon:hover {
  text-shadow: 0 0 3px white;
  cursor: pointer;
}

/* Tablets */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
   section {
    position: relative !important;
    height: 100% !important;
    min-height: 100% !important;
  }

  .ui.page.grid{
    position: relative !important;
    padding: 50px 0 !important;
  }

  section#sponsor {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  section#sponsor .tier  {
    display: inline-block;
  }

  #sponsor img {
    display: block !important;
    position: relative !important;
    margin: 4em auto !important;
    width: 75% !important;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

  section {
    position: relative !important;
    height: 100% !important;
    min-height: 100% !important;
  }

  .ui.page.grid{
    position: relative !important;
    padding: 50px 0 !important;
  }

  .title {
    font-size: 3em;
  }

  .tagline {
    font-size: .9em;
  }

  #info .info-title {
    font-size: 3em;
  }

  #info .info-description {
    width: 100%;
  }


  section#sponsor {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  section#sponsor .tier {
    display: inline-block;
  }

  #sponsor img {
    display: block !important;
    position: relative !important;
    margin: 4em auto !important;
    width: 75% !important;
  }

 .map-cover{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

}