body,
input,
.ui.input input,
button,
textarea {
  font-family: 'Lato', 'Helvetica Neue', 'Helvetica', sans-serif;
}

.arvo,
.arvo.bold {
  font-family: 'Montserrat', sans-serif;
}

.arvo.bold{
  font-weight: 700;
}

.lato {
  font-family: 'Lato', 'Helvetica Neue Light', 'Helvetica', sans-serif !important;
}

.ui.message ul.list li:before {
  content: "" !important;
}

.ui.menu .logo.item {
  float: left;
}

/* Menu bar*/

#nav {
  position: fixed;
  z-index: 995;
  width: 100%;
  font-family: "Lato", "Helvetica", sans-serif;
  background: #fff;
  border-radius: 0;
}
#nav a.item {
  margin: 0 1em;
  margin-top: 14px;
  margin-bottom: 14px;
  position: relative;
  top: 50%;
  color: #728088;
}
#nav a.item:hover:after {
  content: '';
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0px;
  opacity: 0.6;
  border-bottom: 3px solid #728088;
  transition: all 300ms ease;
}
#nav .item {
  font-size: 1.3rem;
}
#nav .link {
  font-family: "Montserrat", sans-serif;
  font-size: 0.9em;
}
#nav .link:hover {
  opacity: 0.6;
  transition: all 200ms ease;
}

@media only screen and (max-width: 850px) {
  #nav .item {
    padding-left: 0.73em;
    padding-right: 0.73em;
    font-size: 1rem;
  }
  #nav .brand {
    visibility: collapse;
    width: 0px;
    max-width: 0px;
    padding: 0px;
  }
  #nav .container {
    width: auto;
    margin: 5px 20px;
  }
}

@media only screen and (max-width : 480px) {

  .ui.page.grid {
    min-width: 300px !important;
  }
}
